body {
    background-color: #F9F7F6;
}

.portfolio-step {
    align-items: center;
    padding-bottom: 2rem;
}

.portfolio-icon {
    width: 100px;
}

.p-b-s {
    padding-bottom: 1rem;
}

.p-b-m {
    padding-bottom: 2rem;
}

/* Bootstrap override */
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #E89DA8!important;
}